<h2>{{title}}</h2>
<br/>
<hr/>
<form action="downloadreport" method="POST" >

    <div class="form-group" id="reportTypeDiv">
        <label for="reportType"> Please select report category:</label>
        <select class="form-control" name="reportType" id="reportType">
            <option value="students">Students</option>
            <option value="lecturers">Lecturers</option>
            <option value="threads">Threads</option>
        </select>
    </div>

    <!--So how this is expected to work is all these "SubType" divs will be hidden and then when
        data is selected from the reportType select box, the appropriate div will become visible.-->
 <!--   <div id="subTypeStudentDiv">
        <label for="subTypeStudent"> Please select student report category:</label>
        <select name="subTypeStudent" id="subTypeStudent">
            <option value="allStudents">All Students details</option>
            <option value="spaceStudents">All Students per Space</option>
        </select>
    </div>

    <div id="subTypeLecturersDiv">
        <label for="subTypeLecturers"> Please select lecturers report category:</label>
        <select name="subTypeLecturers" id="subTypeLecturers">
            <option value="allLecturers">All lecturers details</option>
            <option value="spaceLecturers">All lecturers per Space</option>
        </select>
    </div>

    <div id="subTypeThreadsDiv">
        <label for="subTypeThreads"> Please select threads report category:</label>
        <select name="subTypeThreads" id="subTypeThreads">
            <option value="allThreads">All threads</option>
            <option value="spaceThreads">All threads per Space</option>
            <option value="toMarkThreads">All threads to be marked</option>
        </select>

    </div>-->
    <!-- end of report subtype divs-->
    <input class="btn btn-primary" type="Submit" value="Download Report"/>
</form>
<!-- Upload report
<label>need to speak to resources to figure out how they wish to take the file and such</label>
-->
<!--
<div>
    <button onclick="{{getLecturers}}">getLecturers</button>
    <button onclick="{{getStudents}}">getLecturers</button>
    <button onclick="{{getThreads}}">getLecturers</button>
</div>
-->