<!-- Context structure:
	{
		title: "title"
		spaces : [
			{
				moduleID, name, academicYear
			}
		]	
	}-->
<h2>Active Buzz Spaces</h2>
{{#each this.spaces}}
<div>
    <script>
        var t = "{{this.moduleID}}";
        var ref = encodeURI(t);
        var a = '<a href="threads?space=' + ref + '">{{this.moduleID}} - {{this.name}} ({{this.academicYear}})</a>';
        document.write(a);
    </script>
</div>
{{/each}}