<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">


      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <title>{{title}}</title>
      <!-- Jquery and Handlebars -->
      <script src="/javascripts/jquery-1.11.2.min.js" ></script>
      <script src="/javascripts/handlebars.runtime.min.js" ></script>

      <!-- Bootstrap -->
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">
      <script src="/javascripts/bootstrap.min.js"></script>

      <script>
          var child = 'span';
          $(function() {
              var $globalAlert = $('#global-alert');

              $("#global-alert-close").click(function() {
                  $globalAlert.slideUp(500);
              });
              if (!($globalAlert.children(child).html())) {
                  $globalAlert.hide();
              }


          });

          alertMessage = function(data) {
              var $globalAlert = $("#global-alert");
              $globalAlert.hide().removeClass().addClass("alert alert-" + (data.messageType || "info"));
              $globalAlert.children(child).html(data.message || "");
              if ($globalAlert.children(child).html()) {
                  $globalAlert.show();
              }
          };

          alertError = function(xhr, textStatus, errorThrown) {
              alertMessage({

                  message : errorThrown,
                  messageType : 'danger'
              });
          }
      </script>
  </head>
  <body>
  <header class="container-fluid page-header">
      <div class="text-center">
        <h1 id="BuzzHeading" class="text-capitalize">Buzz++@UP<br>
        <small>A discussion board created for the COS301 Mini Project 2015</small></h1>
      </div>
      <ul class="nav nav-pills btn-group" role="tablist">
          <li><a href="/" >Home</a></li>
          <li><a href="testPost" >Post</a></li>
          <li><a href="file-constraints">Manage Constraints</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="report">Reports</a></li>
          <li><a href="contributors">Contributors</a></li>
      </ul>
  </header>
  <div class="main container-fluid" role="main">
      <div class="alert alert-{{messageType}}" id="global-alert">
          <span>{{message}}</span>
          <button type="button" class="close" aria-label="close" id="global-alert-close" onclick>&times;</button>
      </div>
    {{{body}}}
  </div>
  <footer class="container-fluid text-center">
      <p>&copy; 2015 Buzz++</p>
  </footer>
  </body>
</html>
