<p>Welcome to {{title}}</p>
<h2>Threads in this space</h2>
{{#each this.threads}}
<div id="Thread-{{this.thread_ID}}">
      <p>Title: {{this.thread_Name}}</p>
    <p style="background-color:grey">{{this.thread_PostContent}}</p>
    {{> threadNotifyWidget}}

</div>
{{/each}}