<form id = "addForm" action="/newSpace" method="post">
    <h1>Create Buzz Space</h1>

    <label for="moduleID">Module ID</label>
    <input type="text" id="moduleID" name="moduleID">

    <label for="moduleName">Name</label>
    <input type="text" id="moduleName" name="moduleName">


    <input type="Submit" value="Create">

</form>
