<h1>Login</h1>
<div class="{{messageType}}">
    {{message}}
</div>
<div>
    <form id = "csdslogin" action="/submitCSDS" method="post">

            <label for="csUsername">Username</label>
            <input type="text" id="csUsername" name="csUsername">


            <label for="csPassword">Password</label>
            <input type="password" id="csPassword" name="csPassword" />

            <input type="Submit" value="Login">
    </form>
</div>

