<form action="/submitNotifyOptions" method="POST">


    <h2>Notifications options regarding this thread:</h2>
    <input type="hidden" value="{{treadID}}" name="threadID">
    <div class="form-group">
        <label>
            <input type="checkbox" value="Y" id="new" placeholder="Y?" name="new"> New post created?
        </label><br>
        <label><input type="checkbox" value="Y" id="del" placeholder="Y?" name="del"> Deleted thread?</label>
        <br>
        <label><input type="checkbox" value="Y" id="moved"  name="moved">Thread moved?</label>
        <br>
        <label><input type="checkbox" value="Y" id="appReg" placeholder="Y?" name="appReg">Register for appraisal?</label>
        <br>
        <label><input type="checkbox" value="Y" id="appDereg" placeholder="Y?" name="appDereg">Deregister for appraisal?</label>
    </div>

    <input type="Submit" class=" btn btn-primary" value="Submit">
    <p>{{message}}</p>

    <div>
        {{result}}
    </div>
</form>

